/* balsamiq sans font */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Noto+Sans:wght@400;700&family=Poppins:wght@100;300;400;700&family=Rubik:wght@300;400;600&family=Ubuntu:wght@300;400;700&display=swap");
/* end of font link */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1rem;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: 50px;
  margin-bottom: 30px;
}

#main-heading {
  text-transform: uppercase;
  font-weight: 400;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1300px;
  height: auto;
}

.nav-list {
  flex-direction: row;
}

.nav-links,
.btn {
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.prime-btn:hover {
  background-color: rgb(190, 190, 190);
  color: black;
}

.nav-links:hover {
  background-color: black;
  color: white;
}

.btn {
  background-color: rgb(31, 31, 31);
  border: none;
  border-radius: 10px;
  font-family: "balsamiq sans";
  color: white;
}

main {
  flex-direction: row;
}

.secret-section,
.button-section {
  width: 50%;
  flex-direction: column;
}

.secret-box {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 8rem;
  border-radius: 10px;
  margin-bottom: 30px;
}

.enter {
  background-color: rgb(0, 0, 0);
  height: 80px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.submit {
  margin-bottom: 20px;
  padding: 15px 20px;
  font-size: 1.5rem;
}

.submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.ins {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0 60px;
}

.again,
.reset {
  padding: 15px 30px;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}

.again:hover,
.reset:hover {
  background-color: white;
  color: black;
}

.utility {
  margin-bottom: 30px;
}

.code-link {
  color: rgb(36, 86, 224);
}

.code-link:hover {
  color: rgb(255, 0, 0);
}
